body{
    margin: 0px;
}
.Box{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 5em;
margin: auto;
}
#Box1{
    background-color:hsl(118, 100%, 50%) ;
}
#Box2{
    background-color: hsl(180, 77%, 51%);
}