.pagination{
    text-align: center;
}
.pagination a{
    color: hsl(0, 66%, 38%);
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(104, 92%, 47%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: hsl(79, 87%, 48%);
    border-radius: 5px;
}