*{
    box-sizing: border-box;
}


header{
height: 50px;
background-color: hsl(263, 100%, 54%);
font-size: 1em;
text-align: center;
animation-duration: 3s;
animation-name: colorChange;
animation-iteration-count: infinite;

}
@keyframes colorChange{
   0% {background-color: hsl(263, 100%, 54%);}
   20% {background-color: hsl(300, 79%, 48%);}
   40% {background-color: hsl(159, 100%, 54%);}
   60% {background-color: hsl(59, 100%, 53%);}
   80% {background-color: hsl(339, 100%, 54%);}
   100% {background-color: hsl(26, 80%, 51%);}

}

body{
    margin:0px;
}
.navbar ul{
    height: 40px;
    padding: 0px;
    background-color: rgb(128, 161, 170);
    list-style-type: none;
}
.navbar a{
    display: block;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    color: hsl(0, 0%, 20%);
}
.navbar a:hover{
    background-color: brown;
}

.navbar li{
float: left;
}

section{
    width: auto;
    padding: 10px;
    float: left;
}
article{
    width: auto;
    padding: 10px;
    float: left;
}
footer{
    display: block;
    clear: both;
    background-color: aqua;
    text-align: center;
    padding: 10px;

}

@media  screen and(max-width:600px){
    article, section,.navbar{
        width:100%

    }
}